
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
</br>
<!--Opens singup page from UserController-->
No account yet? @Html.ActionLink("SignUp Now!", "SignUp", "User")
